#ifndef CONFIG_H
#define CONFIG_H

#include <IPAddress.h>
#include <Arduino.h>

// Змінні середовища
#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "WIFI_PASSWORD"
#define API_KEY "e632d963:06efe27d6671832328bac9602ebd66cb"
#define API_URL_ALLALERTS "https://api.ukrainealarm.com/api/v3/alerts"
#define API_REGION_ID "YOUR_REGION_ID"

// Настройки IP адреса
extern IPAddress local_ip;
extern IPAddress gateway;
extern IPAddress subnet;
extern IPAddress dns;
//define PIN_LED
#define GREEN_LED 12
#define RELAY 2

// Другие конфигурационные параметры
typedef uint8_t byte;
const byte tries = 10;  // Попыток подключения к точке доступа
const unsigned long alarmDuration = 300000; // 5 минут
const unsigned long requestInterval = 30000; // Интервал запроса к API

String relay_switch();

#endif // CONFIG_H