#ifndef CONFIG_H
#define CONFIG_H

#include <IPAddress.h>
#include <Arduino.h>

// Змінні середовища
#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "WIFI_PASSWORD"
#define API_URL "https://api.ukrainealarm.com/api/v3/alerts/1396" // 1396 - Ukraine Starokostyantyniv
#define API_KEY "YOUR_API_KEY"

// Настройки IP адреса
extern IPAddress local_ip;
extern IPAddress gateway;
extern IPAddress subnet;
extern IPAddress dns;

// Другие конфигурационные параметры
typedef uint8_t byte;
const byte tries = 10;  // Попыток подключения к точке доступа
const byte relay = 2; // Пин для управления реле
const unsigned long alarmDuration = 300000; // 5 минут
const unsigned long requestInterval = 30000; // Интервал запроса к API

#endif // CONFIG_H